@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background: #eeeeee;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.form {
    width: 90%;
    padding: 1.5rem;
    background: #cccccc;
    border-radius: 2rem;
    box-shadow: 0 0 2rem #bbbbbb;
}

.form h1 {
    width: 100%;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
}

.form p {
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-size: 0.8rem;
    color: #666666;
}

.form p i {
    color: #ee3344;
}

.form p a {
    text-decoration: none;
}

.form form input {
    margin: 0.8rem 0;
    padding: 1rem;
    width: 100%;
    font-size: 1.2rem;
    border: 0;
    border-radius: 2rem;
    outline: none;
}

.form form input[type="submit"] {
    background: #ee3344;
    box-shadow: 0 0.2rem 0.2rem #333333;
}

.form form input:focus {
    outline: outset;
}

.form form input[type="submit"]:focus {
    outline: none;
    box-shadow: none;
}

.form form input[type="submit"]:hover {
    cursor: pointer;
}

.response-card {
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.response-card h1 {
    font-weight: normal;
}

.flash {
    animation: flash .5s linear 2;
}

@keyframes flash {
    50% {
        opacity: 25%;
    }
}

@media (min-width:950px) {
    .form {
        width: 50%;
    }
    .response-card {
        width: 50%; 
    }
}

@media (min-width:1560px) {
    .form {
        width: 30%;
    }

    .response-card {
        width: 30%; 
    }
}